.result {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.result-main-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
