.mapdetail {
  position: absolute;
  padding: 0 15px;

  bottom: 100px; /* 네브바 위로 띄우기 */
  left: 50%;

  transform: translateX(-50%);

  width: 90%;
  max-width: 350px;

 min-height: 200px;   /* 최소만 보장 */
  height: auto;        /* 내용 따라 증가 */

  border-radius: 20px;

  background: #fff;

  z-index: 2;

  box-shadow:
  -3px -3px 5px rgba(0, 0, 0, 0.22),
  3px -3px 5px rgba(0, 0, 0, 0.18),
  -3px 3px 5px rgba(0, 0, 0, 0.18),
  3px 3px 5px rgba(0, 0, 0, 0.22),

  0 10px 18px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
}

#hr1{
  width:60px;
  margin: 8px auto 3px auto; /* 가운데 정렬 */
  padding: 0;
  border: none;
  height: 4px;
  background-color: #ddd;
  border-radius: 999px;

}
.mapdetailtop{
    width: 100%;
     display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
}
.mapdetailbtns{
    width: 100%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7px auto;
    gap: 10px;
}
img{
    height: 130px;
    width: 125px;
    border-radius: 20px;
}
#detailcontainer{
    padding: 0 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.mapdetailbottom{
    width: 100%;
     display: flex;
    flex-direction: row;
   justify-content: space-between;
    align-items: center;
    margin: 7px auto;
}